@import "tailwindcss";

@layer base {
  /* Base styles go here */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    color: #fff;
    background-color: #000;
    font-family: "Inter", sans-serif;
  }

  html{
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* Custom utilities go here */
  .text-gradient {
    background: linear-gradient(135deg,  rgb(37, 99, 235)0%, rgb(249 115 22)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}